[user]
    email  = barronk@mit.edu
    name   = Kyle Barron
    editor = nano
        signingkey = 08980A3727ED30B6

[core]
    editor = nano

[push]
    default = simple

[alias]
    co      = checkout
    br      = branch
    ci      = commit
    st      = status
    cp      = cherry-pick
    cl      = clone

    undo    = checkout --
    unstage = reset HEAD --
    pusha   = push -u origin --all
    pusht   = push -u origin --tags
    tags    = tag -ln

    ignore  = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
    alias   = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
    logs    = log --graph --decorate --all --oneline
    logl    = log -n 1
    log1    = log --graph --decorate --all --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(normal)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    log2    = log --graph --decorate --all --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n' %C(normal)%s%C(reset) %C(dim white)- %an%C(reset)'
