"*":
  Hydrogen:
    languageMappings: "{\"ir\": \"r\", \"bash\": \"shell script\"}"
    startDir: "dirOfFile"
  "Remote-FTP":
    beta:
      multipleHosts: true
    connector:
      autoUploadOnSave: "only when connected"
    tree: {}
  aligner:
    alignComments: true
  "atom-alignment":
    addSpacePostfix: true
    alignBy: [
      "=>"
      ":="
      ":"
      "="
      "\""
      "\\"
      "`"
      ">="
      "<="
      "/"
    ]
    alignmentSpaceChars: [
      "=>"
      ":="
      ":"
    ]
  "atom-beautify":
    executables:
      rscript:
        path: "/usr/bin/Rscript"
    general: {}
  "atom-clock":
    dateFormat: "ddd MMM D YYYY h:mm A"
  "atom-material-ui":
    colors: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-shell-commands": {}
  "atom-terminal": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-python": {}
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "linter-write-good"
      "language-gfm"
      "block-cursor"
      "language-stata-plus"
      "linter-flake8"
      "linter-shellcheck"
      "linter-ui-default"
      "vim-mode-plus"
      "aligner"
      "aligner-javascript"
      "aligner-python"
      "language-pfm"
      "Remote-FTP"
      "highlight-line"
    ]
    projectHome: "/home/kyle/"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  docblockr: {}
  editor:
    fontSize: 13
    preferredLineLength: 130
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "296dbb37-446a-fe4d-8a55-bc079614f5ca"
  "file-icons": {}
  "grammar-token-limit":
    maxTokensPerLine: 150
  "highlight-line":
    underline: "dashed"
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "hydrogen-launcher":
    command: "zsh"
  latex:
    outputDirectory: "build/"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E221"
      "E251"
    ]
  "linter-ui-default":
    panelHeight: 61
    showPanel: true
  minimap:
    adjustAbsoluteModeHeight: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": false
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "package-generator":
    packageSyntax: "coffeescript"
  "pdf-view":
    fitToWidthOnOpen: true
    paneToUseInSynctex: "right"
    reverseSyncBehaviour: "Double click"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#252525"
        blue: "#40c4ff"
        cyan: "#18ffff"
        green: "#c3d82c"
        magenta: "#ff4081"
        red: "#ff5252"
        white: "#f5f5f5"
        yellow: "#ffd740"
    core:
      mapTerminalsTo: "File"
    customTexts: {}
    style:
      defaultPanelHeight: "15%"
    toggles:
      autoClose: true
  "project-manager":
    savePathsRelativeToHome: true
    sortBy: "last modified"
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    showStatusBarIcon: false
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".regexp.source.stata":
  editor:
    preferredLineLength: 120
".source.stata":
  "atom-alignment":
    addSpacePostfix: true
    alignBy: [
      "%"
      "=>"
      ":="
      ":"
      "="
      "\""
      "\\"
      "`"
      ">="
      "<="
      "/"
    ]
    alignmentSpaceChars: [
      "=>"
      ":="
      ":"
    ]
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "''"
      "`'"
      "<>"
      "\"\""
    ]
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    preferredLineLength: 150
    showIndentGuide: true
    showInvisibles: false
    softWrapAtPreferredLineLength: true
"text.latex.tex":
  "atom-alignment":
    addSpacePostfix: true
    alignBy: [
      "%"
    ]
    alignmentSpaceChars: [
      "=>"
      ":="
      ":"
    ]
"text.tex":
  "atom-alignment":
    addSpacePostfix: true
    alignBy: [
      "%"
    ]
    alignmentSpaceChars: [
      "=>"
      ":="
      ":"
    ]
